.list-outer-container{
    display: flex;
    flex-direction: column;
    align-items :center;
    width:30%;
    
}

.location-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 80%;
    
}

.list-header{
    font-size:1.3rem;
}

.unordered-list{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    list-style: none;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    border: 1px black solid;
    border-radius: 5px;
}

.location-list-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width:95%;
    margin-top:11.4px;
    border-bottom: 1px solid gray;
}

.location-list-button{
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.location-list-button:hover{
    background-color: gray;
}
