.page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
  }
  
  .page-layout__content {
    flex: 1;
    flex-basis: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    max-width: 120rem;
    width: 100%;
  }